.screen-img {
  width: 90%;
  min-width: 1250px;
}
.screen-iframe {
  position: absolute;
  border: 0;
}
.screen-work {
  text-align: center;
}
.lates-works {
  margin-left: -225px;
  gap: 50px;
  display: grid;
  color: #4830e6;
  grid-template-columns: auto auto;
  width: 75%;
}
.mobile-iframe {
  position: absolute;
  border: 0;
}
.mobile-work {
  position: relative;
  margin-left: 5%;
  transform: perspective(2000px) rotateY(38deg);
}
.mobile-img {
  position: absolute;
  width: 40%;
  max-width: 473px;
}
.work {
  width: 47%;
}
iframe {
  background: #fff;
}
